[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = git@github.com:TediCreations/.emacs.d.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "core/opt/Pc-lint/config"]
	path = core/opt/Pc-lint/config
	url = git@github.com:GimpelSoftware/config.git
[submodule "core/opt/cpputest"]
	path = core/opt/cpputest
	url = git@github.com:cpputest/cpputest.git
[submodule "core/opt/Quantum_Leaps/qpc"]
	path = core/opt/Quantum_Leaps/qpc
	url = git@github.com:QuantumLeaps/qpc.git
[submodule "core/opt/Quantum_Leaps/qtools"]
	path = core/opt/Quantum_Leaps/qtools
	url = git@github.com:QuantumLeaps/qtools.git
