[submodule "emacs/.config/emacs"]
	path = emacs/.config/emacs
	url = git@kentavros.lan:tedi/.emacs.d.git
[submodule "zsh/.config/oh-my-zsh/ohmyzsh"]
	path = zsh/.config/oh-my-zsh/ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "zsh/.config/oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.config/oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/.config/oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "core/opt/Pc-lint/config"]
	path = core/opt/Pc-lint/config
	url = git@github.com:GimpelSoftware/config.git
[submodule "core/opt/cpputest"]
	path = core/opt/cpputest
	url = git@github.com:cpputest/cpputest.git
[submodule "core/opt/Quantum_Leaps/qpc"]
	path = core/opt/Quantum_Leaps/qpc
	url = git@github.com:QuantumLeaps/qpc.git
[submodule "core/opt/Quantum_Leaps/qtools"]
	path = core/opt/Quantum_Leaps/qtools
	url = git@github.com:QuantumLeaps/qtools.git
[submodule "zsh/.config/ohmyzsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/.config/ohmyzsh/custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/.config/oh-my-zsh/custom/themes/powerlevel10k"]
	path = zsh/.config/oh-my-zsh/custom/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
