################################################################################
# Standard emacs
alias emacs="emacs-26.3"

alias e="emacsclient -t -create-frame --alternate-editor="
alias em="emacsclient -create-frame --alternate-editor="

################################################################################
# ZSH
alias zshconfig="e ~/.zshrc"

################################################################################
# Bash
alias bashconfig="e ~/.bashrc"

################################################################################
# Virtual environment
alias virt="virtualenv -p python3 .venv"

################################################################################
# ls
#alias ll='ls -alF'
#alias la='ls -A'
#alias l='ls -CF'

################################################################################
# Tools
alias copy="rsync -avrxHAX --progress"
alias pgrep="ps -aux | grep"
alias ccat="highlight --force --out-format=ansi"

alias setclip="xclip -selection c"
alias getclip="xclip -selection c -o"

alias webGet="wget --random-wait -r -p -e robots=off -U mozilla "

alias weather="curl v2.wttr.in/thessaloniki"
alias moon="curl wttr.in/Moon"

alias speak="espeak -g 10 -k 20 -s 150 -p -1 -ven+f4 "

################################################################################
# Updatedb
alias myupdatedb="updatedb --require-visibility 0 -o ~/.mlocate.db -U ~ -v"
alias mylocate="locate --database=.mlocate.db"
