# Standard emacs
alias emacs="emacs-26.3"

alias e="emacsclient -t -create-frame --alternate-editor="
alias em="emacsclient -create-frame --alternate-editor="

# Tools
alias pgrep="ps -aux | grep"

alias ccat="highlight --force --out-format=ansi"

alias bashconfig="e ~/.bashrc"

alias setclip="xclip -selection c"
alias getclip="xclip -selection c -o"

alias webGet="wget --random-wait -r -p -e robots=off -U mozilla "
